experiments/experiment_omnet/summary
experiments/experiment_omnet/test_metrics_best.json
experiments/experiment_omnet/test_metrics_latest.json
experiments/experiment_omnet/train.log
experiments/experiment_omnet/val_metrics_best.json
experiments/experiment_omnet/val_metrics_latest.json
experiments/experiment_omnet/val_model_best.pth
experiments/experiment_omnet/evaluate.log
dataset/data/modelnet_os
dataset/data/modelnet_ts
