absl-py==0.14.1
aiocontextvars==0.2.2
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.14.6
# Editable install with no version control (chamfer-distance==0.1)
-e /data/code/chamfer_distance-master
chamferdist==1.0.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.3
coloredlogs==15.0.1
confluent-kafka==1.3.0
contextvars==2.4
cryptography==35.0.0
dataclasses==0.8
Deprecated==1.2.13
docutils==0.15.2
dulwich==0.20.25
elasticsearch==7.15.0
filelock==3.3.0
Flask==2.0.2
fvcore==0.1.5.post20210924
gitignore-parser==0.0.8
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.41.0
h5py==3.1.0
humanfriendly==10.0
idna==3.2
immutables==0.16
importlib-metadata==4.8.1
inflection==0.5.1
influxdb==5.3.1
iopath==0.1.9
itsdangerous==2.0.1
Jinja2==3.0.2
jmespath==0.10.0
juicefs==0.0.4
kubernetes==18.20.0
loguru==0.5.3
Markdown==3.3.4
MarkupSafe==2.0.1
MegEngine==1.6.0
megfile==0.0.9
mprop==0.16.0
msgpack==1.0.2
ninja==1.10.2.2
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1626681920064/work
oauthlib==3.1.1
opencv-python==4.5.3.56
pcu==0.1.1
Pillow==8.3.2
point-cloud-utils @ file:///home/conda/feedstock_root/build_artifacts/point_cloud_utils_1622844455517/work
portalocker==2.3.2
protobuf==3.18.1
psutil==5.8.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==2.2.0
python-dateutil==2.8.2
python-statemachine==0.8.0
pytz==2021.3
PyYAML==5.4.1
redis==3.5.3
redispy==3.0.0
refile==6.0.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.5.0
scipy==1.5.4
six==1.16.0
smart-open==5.2.1
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
termcolor==1.1.0
tqdm==4.62.3
transforms3d==0.3.1
typeguard==2.13.0
typing-extensions==3.10.0.2
ujson==4.2.0
urllib3==1.26.7
websocket-client==1.2.1
Werkzeug==2.0.2
wrapt==1.13.1
yacs==0.1.8
zipp==3.6.0
